/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face{
  font-family: 'dyson';
  src: url(ProductImage/dyson.ttf)
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #FFF;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

h1, h2, h3 {
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  height : 100vh;
}

.section__title {
  font-size: 50px;
  text-align: center;
  margin-bottom: var(--mb-2-5);
  color: var(--white-color);
}

.section__title-gradient {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}
/*=============== HEADER ===============*/
.nav__item a {
  font-size: 20px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-fixed);
  background: var(--body-color);
  justify-content: space-between;
  align-items: center;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.nav__logo {
  display: flex;
  font-family: 'dyson';
  font-weight: 800;
  font-size: 2rem;
  color : var(--white-color);
  position: fixed;
  left: 2.5%;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: .4s;
  }
}

.nav__list {
  font-size: 20px;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: center;
  position: fixed;
  right : 2.5%;
  top : 2%;
}

.nav__link {
  color: (--white-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  background: var(--text-gradient);
  color: #FFF;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.nav__link:hover {
  background: var(--black-color);
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav__link::after{
  content: '';
  height: 2px;
  width: 100%;
  background: (--white-color);
  display: block;
  position: absolute;
  transition: 0.3s;
}
/* show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
}

/* Active link */
.active-link {
  background: rgb(46, 43, 43);
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== HOME ===============*/
.home section{
  min-height: 100vh;
}

.home__container {
  position: relative;
  align-items: center;
  justify-content: center;
  left: 3rem;
  top: 3rem;
}

.glass {
  position: relative;
  top: 8rem;
  right: 18rem;
  background: linear-gradient(135deg, rgba(37, 37, 37, 0.075), rgba(26, 25, 25, 0.082));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.027); 
  z-index: 1;
  height: 30rem;
  width: 35rem;
}

.home__data {
  top: 4rem;
  position: relative;
  right: 48rem;
  bottom : 15%;
  z-index: 2;
  justify-content: space-between;
}

.home__header {
  position: relative;
  right: 2;
}

.home__title { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  overflow: hidden;
  background: var(--text-gradient);
  color: var(--white-color);
  -webkit-background-clip: text;
  background-clip: text;
}

.home__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2-5);
}

.home__title-description {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
  color: var(--white-color);
}

#home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
  right: 2rem;
}

.button:hover {
  background-color: var(--black-color-alt);
}

.button__icon {
  font-size: 1.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
/*=============== TESTIMONIAL ===============*/
.testimonial__title {
  position: relative;
  top: 2rem;
  align-items: center;
  justify-content: center;
}

.testimonial__section{
  min-height: 100vh;
}

.testimonial__header{
  display: flex;
  font-size: 30px;
  white-space: nowrap;
  position:relative;
  left : 25rem;
  top: 2rem;
  color: var(--white-color);
  font-family: 'dyson';
}

.sponsor__img {
  width: 90px;
}

.testimonial__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}

/*=============== VACUUM CLEANERS ===============*/


.specs h2{
  position: relative;
  align-items: center;
  justify-content: center;
  top: -15rem;
  color: var(--white-color);
  font-family: 'dyson';
}

.specs .vacuum__video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.specs__container {
  position: relative;
  justify-content: center;
  align-items: center;
  right: 8rem;
  z-index: 50;
  height: 100%;
  width: 100%;
}

.specs__content {
  position: absolute;
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  left: 6rem;
  z-index: 50;
  justify-content: space-around;
  align-items: center;
  bottom: -2rem;
  width: 100%;
  font-family: 'dyson';
}
.specs__icon {
  font-size: 1.2rem;
  color: var(--white-color);
}

.specs__title {
  font-size: 40px;
  font-weight: var(--font-medium);
  color: var(--white-color);
  font-family: 'dyson';
}

/*=============== PRODUCTS ===============*/

#product__title {
  position: relative;
  top: 6rem;
  font-family: 'dyson';
}

.products__line {
  line-height: 4rem;
}

.vacuum {
  max-width: 1800px;
  margin:0 auto;
  padding: 3rem 2rem;
}

.vacuum .vacuum_products {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
   gap: 2rem;
   position: relative;
   top: 6rem;
   left: 2rem;
}

.vacuum .vacuum_products .products__content {
  text-align: center;
  padding: 3rem 2rem;
  background: linear-gradient(135deg, rgb(255, 255, 255), rgba(197, 197, 197, 0.788));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.027);
  font-family: 'dyson'; 
}

.vacuum .vacuum_products .products__content:hover {
    outline : .2rem solid black;
    outline-offset: 0;

}

.vacuum .vacuum_products .products__content img {
   height : 25rem;
}

.vacuum .vacuum_products .products__content:hover img {
  transform: scale(0.9);
}

.vacuum .vacuum_products .products__content h3{
  padding: .5rem 0;
  font-size: 40px;
  color: var(--white-color);
}

.vacuum .vacuum_products .products__content:hover h3{
  color:rgb(245, 121, 6);
}

.vacuum .vacuum_products .products__content .price{

   font-size: 60px;
   color: var(--white-color);

}

.V7__img {
  max-width: 30rem;
  max-height: 30rem;
  position: relative;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.dc25__img {
  max-width: 30rem;
  max-height: 30rem;
  position: relative;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.V6__img {
  max-width: 30rem;
  max-height: 30rem;
  position: relative;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.dc19__img {
  max-width: 30rem;
  max-height: 30rem;
  position: relative;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.VC__img {
  max-width: 30rem;
  max-height: 30rem;
  position: relative;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.dc26__img {
  max-width: 30rem;
  max-height: 30rem;
  position: relative;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.products__content {
  align-self: flex-end;
  position: relative;
}

.products__title, .products__price {
  font-size: var(--small-font-size);
  font-family: 'dyson';
}

.products__price {
  font-weight: var(--font-semi-bold);
}

/*=============== PRODUCT POPUP ===============*/
.popup {
  background: rgba(218, 218, 218, 0.726);
  position: fixed;
  align-items: center;
  max-height: 120rem;
  max-width: 75rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.popup img{
  position:relative;
  top: 2rem;
  left: -4rem;
  z-index: 1000;
}

.popup .dc26__img{
  left: 0rem;
}

.popup h3{
  position:absolute;
  top: 2rem;
  align-items: center;
  left: 8rem;
  font-size: 45px;
  z-index: 1007;
  font-family: 'dyson';
  color: black;
}

.color {
  position: absolute;
  right: 2rem;
  bottom: 18rem;
  font-size: 20px;
  z-index: 1005;
  color: black;
}

.price {
  position: absolute;
  right: 6rem;
  bottom: 10rem;
  font-size: 40px;
  z-index: 1006;
  color: black;
  font-weight: bolder;
}

.buttons {
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color:blanchedalmond;
}

.buttons a{
  color: rgb(12, 12, 12);
  font-family: 'dyson';
}
.buy{

  padding: 10px 30px;
  background: white;
  border-radius: 10px;
  border: .1rem solid rgba(255, 255, 255, 0);
}

.buy:hover {
  color:rgb(255, 136, 0);
  background: black;
}

.learn{

  padding: 10px 30px;
  background: rgb(68, 68, 68);
  border-radius: 10px;
  border: .1rem solid rgba(255, 255, 255, 0);
}

.learn:hover{
  color:rgb(255, 136, 0);
  background:black;
}

.product-popup {
  position: fixed;
  top:0;
  left:0;
  min-height: 100vh;
  background: rgba(24, 24, 24, 0.541);
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  z-index: 1000;
  }

.product-popup .popup {
  display: none;
}

.product-popup .popup.active{
  display: inline-block;
}

.product-popup .popup .fas{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor:pointer;
  color:black;
  font-size: 1rem;
}

.product-popup .popup .fas:hover
{
  color:rgb(255, 136, 0);
}


/*=============== DISCOUNT ===============*/
.discount__container {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border-radius: .75rem;
}

.discount__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.discount__description {
  margin-bottom: var(--mb-1);
}

.discount__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}

/*=============== FOOTER ===============*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  width: 2rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--white-color);
}

.footer__form {
  display: flex;
  column-gap: .5rem;
  background-color: var(--container-color);
  padding: .5rem .75rem;
  border-radius: .5rem;
  margin-bottom: var(--mb-2);
}

.footer__input {
  background-color: var(--container-color);
  width: 90%;
  color: var(--white-color);
}

.footer__input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.footer__social {
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: inline-flex;
  color: var(--white-color);
  background-color: var(--container-color);
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1rem;
}

.footer__social-link:hover {
  background-color: var(--black-color);
}

.footer__copy {
  margin-top: 5rem;
  text-align: center;
}

.footer__copy-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--container-color);
  border-radius: .25rem;
  padding: .45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.35rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-alt);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .home__img {
    width: 200px;
    top: -13rem;
  }
  .home__title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }
  .home__data {
    padding-top: 1rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .specs__img {
    width: 200px;
  }
  .case__container {
    grid-template-columns: .6fr 1fr;
  }
  .case__img {
    width: 220px;
    top: -2rem;
    left: -9rem;
  }
  .case__data {
    padding: 0;
  }
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: .8fr 1fr;
  }
  .home__data {
    padding-top: 2rem;
  }
  .home__img {
    top: -7rem;
    left: 0;
  }
  .specs__img {
    position: initial;
  }
  .specs__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .case__img {
    position: initial;
  }
  .case__data {
    padding: 0;
  }
  .case__container {
    grid-template-columns: max-content 250px;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }
  .discount__img {
    position: initial;
  }
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo {
    width: 2rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    top: -9rem;
    left: 4rem;
  }
  .home__data {
    padding-top: 8rem;
  }
  .specs__img {
    width: 300px;
  }
  .case__container {
    column-gap: 5rem;
  }
  .case__img {
    width: 300px;
  }
  .case__description {
    margin-bottom: var(--mb-2);
  }
  .discount__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 5rem;
    padding: 3rem 0;
  }
  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }
  .discount__description {
    margin-bottom: var(--mb-2);
  }
  .products__container {
    grid-template-columns: repeat(3, 162px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }
  .products__card {
    height: 152px;
    padding: .85rem;
  }
  .products__img {
    width: 95px;
  }
  .footer__container {
    grid-template-columns: .4fr .7fr .7fr 1fr;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 300px;
    top: -15rem;
  }
  .home__title {
    top: -5rem;
    left: 3.5rem;
  }
  .home__description {
    padding-right: 5rem;
  }
  .sponsor__img {
    width: 100px;
  }
  .discount__img {
    width: 350px;
  }
  .footer__container {
    padding-top: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }
}